<%- contentFor('body') %>
    <!-- EDIT -->
    <section>
        <form class="create container">
            <h2 class="form__title">CREAR NUEVO ITEM</h2>
            <article class="create__item">            
                <p class="create__item--text">Categoría:</p>
                <input class="create__item--input" type="text" placeholder="Seleccionar">
                <p class="create__item-text">Licencia:</p>
                <input class="create__item--input" type="text" placeholder="Seleccionar">
            </article>
            <article class="create__item">            
                <p class="form__text">Nombre del producto:</p>
                <input class="form__input" type="text" placeholder="Kakashi Hatake Shippuden Saga">
            </article>
            <textarea class="create__textarea" name="textarea" placeholder="Figura Funko coleccionable de Kakashi Hatake de la saga Naruto Shipudden invocando chidori."></textarea>
            <article class="create__item">
                <p class="form__text">SKU:</p>
                <input class="form__input" type="text" placeholder="NAR001012">
                <p class="form__text">Precio:</p>
                <input class="form__input" type="number" placeholder="$ 1.799,00">
                <p class="form__text">Stock:</p>
                <input class="form__input" type="number" placeholder="10">
            </article>
            <article class="create__item">            
                <p class="form__text">Descuento:</p>
                <input class="form__input" type="number" placeholder="10%">
                <p class="form__text">Cuotas:</p>
                <input class="create__item--input" type="text" placeholder="6 Cuotas sin interés">
            </article>
            <article class="create__item">
                <p class="form__text">Imágenes:</p>
                <input type="file" placeholder="Elegir archivos">
            </article>
            <article class="create__item">
                <img class="create__selected--img" src="./multimedia/star-wars/luke-1.webp" alt="Funko Luke S.">
                <img class="create__selected--img" src="./multimedia/star-wars/luke-box.webp" alt="Box Funko Luke S.">
            </article>
            <article class="create__item">
                <a class="form__button" href="#">Modificar Producto</a>
            </article>
        </form>
    </section>
