<%- contentFor('body') %>
    <!-- LOGIN FORM -->
        <main class="container">            
            <form class="form">
                <h1 class="form__title">INGRESAR A MI CUENTA</h1>
                <article class="form__item1">                    
                    <p class="form__text">Email:</p>
                    <input class="form__input" type="email">
                </article>
                <article class="form__item2">
                    <p class="form__text">Contraseña:</p>
                    <input class="form__input" type="password">
                </article>
                <article class="form__item3">                    
                    <a class="form__button" href="#">Ingresar</a>
                    <div class="form__subitem">                        
                        <input class="form__checkbox" type="checkbox">
                        <p class="form__remindme">Recordarme</p>
                    </div>
                </article>
                <a class="form__forgotpw" href="#">Olvidé mi contraseña</a>
            </form>
        </main>
