<%- contentFor('body') %>
    <!-- REGISTER FORM -->
    <main class="container">        
        <form class="form">
        <h1 class="form__title">CREA TU CUENTA</h1>
        <h2 class="form__subtitle">Completa el formulario para ser parte del mundo de los Funkos</h2>
        <article class="form__item1">            
            <p class="form__text">Nombre:</p>
            <input class="form__input" type="text">
        </article>
        <article class="form__item1">            
            <p class="form__text">Apellido:</p>
            <input class="form__input" type="text">
        </article>
        <article class="form__item1">
            <p class="form__text">Email:</p>
            <input class="form__input" type="email">
        </article>
        <article class="form__item1">            
            <p class="form__text">Contraseña:</p>
            <input class="form__input" type="password">
        </article>
        <article class="form__item2">
            <p class="form__text">Repita Contraseña:</p>
            <input class="form__input" type="password">
        </article>
        <article class="form__item3">            
            <a class="form__button" href="#">Registrar</a>
            <div class="form__subitem">
                <input type="checkbox">
                <p><span class="form__terms acept">Acepto</span> <span class="form__terms terms">Términos y Condiciones</span></p>
            </div>
        </article>
        </form>
    </main>