<header>
    <nav class="navbar container">
        <picture class="navbar__logo">
            <a href="/" class="navbar__link">
                <img src="./multimedia/branding/logo_light_horizontal.svg" alt="Logo funkoshop">
            </a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a href="./shop" class="navbar__link with-icon">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Funkos</a>                            
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Remeras</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Llaveros</a>
                    </li>
                </ul>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__link">CONTACTO</a>
            </li>
            <li class="navbar__item">
                <a href="/login" class="navbar__link">LOGIN</a>
            </li>
            <li class="navbar__item">
                <a href="./carrito" class="navbar__cart">
                    <img src="./multimedia/icons/cart-icon.svg" alt="Icono carro de compras">
                </a>
            </li>
        </ul>
    </nav>
</header>