<section class="hero">
    <article class="hero__content container">
        <h2 class="hero__title">Nuevos Ingresos</h2>
        <p class="hero__p">Descubrí el próximo Funko Pop de tu colección</p>
        <a href="shop.html" class="hero__link">SHOP</a>
    </article>
</section>