<section class="slider container glide">
    <h2 class="slider__title">ÚLTIMOS LANZAMIENTOS</h2>
    <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides">
            <li class="slider__item glide__slide">
                <article class="card-item">
                    <a href="#" class="card-item__link">
                        <picture class="card-item__cover">
                            <img class="card-item__img--front" src="./multimedia/star-wars/trooper-1.webp" alt="Funko trooper">
                            <img class="card-item__img--back" src="./multimedia/star-wars/trooper-box.webp" alt="Funko trooper box">
                            <span class="card-item__tag">NUEVO</span>
                        </picture>
                        <div class="card-item__content">                            
                            <p class="card-item__licence">STAR WARS</p>
                            <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>
                </article>
            </li>
            <li class="slider__item glide__slide">
                <article class="card-item">
                    <a href="#" class="card-item__link">
                        <picture class="card-item__cover">
                            <img class="card-item__img--front" src="./multimedia/pokemon/pidgeotto-1.webp" alt="Funko pidgeotto">
                            <img class="card-item__img--back" src="./multimedia/pokemon/pidgeotto-box.webp" alt="Funko pidgeotto box">
                            <span class="card-item__tag">NUEVO</span>
                        </picture>
                        <div class="card-item__content">                            
                            <p class="card-item__licence">POKEMON</p>
                            <h4 class="card-item__name">PIDGEOTTO</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>                 
                </article class="card-item">
            </li>
            <li class="slider__item glide__slide">
                <article class="card-item">
                    <a href="#" class="card-item__link">
                        <picture class="card-item__cover">                            
                            <img class="card-item__img--front" src="./multimedia/harry-potter/luna-1.webp" alt="Funko Luna lovegood">
                            <img class="card-item__img--back" src="./multimedia/harry-potter/luna-box.webp" alt="Funko Luna lovegood box">
                            <span class="card-item__tag">NUEVO</span>
                        </picture>
                        <div class="card-item__content">                        
                            <p class="card-item__licence">HARRY POTTER</p>
                            <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>
                </article>       
            </li>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon class="carousel__arrow" icon="pajamas:chevron-left"></iconify-icon></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon class="carousel__arrow" icon="pajamas:chevron-right"></iconify-icon></button>
    </div>
</section>