<header>
    <nav class="navbar container">
        <picture class="navbar__logo">
            <a href="index.html" class="navbar__link">
                <img src="./multimedia/branding/logo_light_horizontal.svg" alt="Logo funkoshop">
            </a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a href="./index.html" class="navbar__link with-icon">VER TIENDA</a>
            </li>
            <li class="navbar__item">
                <a href="./admin.html" class="navbar__link">ADMIN</a>
            </li>
            <li class="navbar__item">
                <a href="#" class="navbar__link">SALIR</a>
            </li>
        </ul>
    </nav>
</header>